<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}itc lunch{% endblock %}</title>
    <link rel="icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    {% block body %}
    <div class="header">
        <div class="logo">i t c &ensp; l u n c h</div>
        <div class="user-area">
            {% if user %}
                <div class="user-info">
                    <strong>{{ user.username }}</strong>
                </div>
                <form action="/logout" method="POST">
                    <button class="logout-btn" type="submit">Выйти</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    <footer>
        &copy; all right
    </footer>
</body>
</html>