{% extends "base.html" %}
{% block body %}
    <div class="header">
        <div class="logo">i t c &ensp; l u n c h</div>
        <div class="user-area">
            <div class="user-info">
                <strong>Ярослав</strong>
            </div>
            <button class="logout-btn">Выйти</button>
        </div>
    </div>
    <div class="lunch-container">
        <div class="previous-order">
            <h2>Мои заказы</h2>
            <button class="circle-button" hx-get="/order-form" hx-target="#orderBlock" hx-swap="outerHTML">+</button>
        </div>
        {% include 'empty-order-block.html' %}
    </div>
{% endblock %}