<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Блюда</th>
                <th>Комментарий</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr {% if updated_order and order.id == updated_order.id %} class="highlight-row" {% endif %}>
                    <td>{{ order.date.strftime('%d.%m.%Y') }}</td>
                    <td>{% for dish in order.dishes %}{{ dish.name }} {% endfor %}</td>
                    <td>{{ order.comment }}</td>
                    <td>
                        {% if order.date > today %}
                            <button class="action-button" hx-get="/order-form?order_id={{ order.id }}" hx-target="#lunchBlock" hx-swap="outerHTML">Изменить</button>
                            <button class="action-button" hx-post="/cancel-order?order_id={{ order.id }}" hx-target="#lunchBlock" hx-swap="outerHTML">Отменить</button>
                        {% endif %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if page == 1 %}
    {% set previous_page = None %}
{% else %}
    {% set previous_page = page - 1 %}
{% endif %}
{% if page == pages_count %}
    {% set next_page = None %}
{% else %}
    {% set next_page = page + 1 %}
{% endif %}
<div class="pagination-container">
    <button {% if previous_page is none %} disabled {% endif %} class="next-page-button" hx-get="/my-orders?page={{ page - 1 }}" hx-target="#lunchBlock" hx-swap="outerHTML"><<<</button>
    <button class="page-button">{{ page }}/{{ pages_count }}</button>
    <button {% if next_page is none %} disabled {% endif %} class="next-page-button" hx-get="/my-orders?page={{ page + 1 }}" hx-target="#lunchBlock" hx-swap="outerHTML">>>></button>
</div>