<div class="table-container">
    <h2>Мои заказы</h2>
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Блюда</th>
                <th>Комментарий</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.date.strftime('%d.%m.%Y') }}</td>
                    <td>{{ order.dishes_text }}</td>
                    <td>{{ order.comment }}</td>
                    <td>
                        {% if not order.is_editable %}
                            <button class="action-button" hx-get="/order-form?order_date={{ order.date }}" hx-target="#orderBlock" hx-swap="innerHTML">Изменить</button>
                            <button class="action-button" hx-post="/cancel-order?order_date={{ order.date }}" hx-target="#orderBlock" hx-swap="innerHTML">Отменить</button>
                        {% endif %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>