<div class="order-container" id="orderBlock">
    <button class="cancel-button" hx-get="/empty" hx-target="#orderBlock" hx-swap="innerHTML">Отменить</button>
    <div id="orderForm">
        <form hx-post="/save-order" hx-target="#orderBlock" hx-swap="innerHTML">
            <h1>
                Заказ обеда на
                <select id="orderDate" name="order_date" class="date-select">
                    {% for date in date_choices %}
                    <option value="{{ date.isoformat() }}">{{ date.strftime('%d.%m') }}</option>
                    {% endfor %}
                </select>
            </h1>
            <label for="firstDish">Выберите первое блюдо:</label>
            <div class="select-dish">
                <select id="firstDish" name="first_dish">
                    {% include 'first-dishes.html' %}
                </select>
                <label class="dish-option">
                    <input type="checkbox" id="vegan" name="vegan" hx-get="/first-dishes" hx-target="#firstDish" hx-swap="innerHTML">
                    <span class="button-label">Веганское</span>
                </label>
            </div>
            <label>Выберите второе блюдо:</label>
            <div class="select-dish">
                <div class="two-selects" id="secondDishesSelects">
                    {% include 'second-dishes.html' %}
                </div>
                <div class="radio-toggle">
                    <input type="radio" id="standard" name="dish_mode" value="STANDARD" checked hx-get="/second-dishes" hx-target="#secondDishesSelects" hx-swap="innerHTML">
                    <label for="standard" class="radio-button">Стандарт</label>
                    <input type="radio" id="constructor" name="dish_mode" value="CONSTRUCTOR" hx-get="/second-dishes" hx-target="#secondDishesSelects" hx-swap="innerHTML">
                    <label for="constructor" class="radio-button">Конструктор</label>
                </div>
            </div>
            <div class="comment-to-order">
                <label for="comment">Комментарий к заказу:</label>
                <input id="comment" name="comment">
            </div>
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>