{% if not is_admin %}
    {% set is_admin = false %}
{% endif %}
{% if not anonymous %}
    {% set anonymous = false %}
{% endif %}
{% if not page %}
    {% set page = 1 %}
{% endif %}

<div class="order-container" id="orderBlock">
    <div id="orderForm">
        <form hx-post="/save-order?page={{ page }}{% if order %}&order_id={{ order.id }}{% endif %}&is_admin={{ is_admin }}&anonymous={{ anonymous }}" hx-target="{% if is_admin %}#adminInline{% else %}#lunchBlock{% endif %}" hx-swap="{% if is_admin %}innerHTML{% else %}outerHTML{% endif %}">
            <h1>
                Заказ обеда на
                <select id="orderDate" name="order_date" class="date-select" hx-get="/order-form" hx-target="#lunchBlock" hx-swap="outerHTML">
                    {% for date in date_choices %}
                    <option value="{{ date.isoformat() }}" {% if selected_date == date %} selected {% endif %}>{{ date.strftime('%d.%m') }}</option>
                    {% endfor %}
                </select>
            </h1>
            {% if order and order.user_id != request.user.id %}
                <h2> {{ order.user_id }} </h2>
            {% endif %}
            <label for="firstDish">Выберите первое блюдо:</label>
            <div class="select-dish">
                <select id="firstDish" name="first_dish">
                    {% include 'first-dishes.html' %}
                </select>
                <label class="dish-option">
                    <input type="checkbox" id="vegan" name="vegan" value=true hx-get="/first-dishes" hx-target="#firstDish" hx-swap="innerHTML">
                    <span class="button-label">Веганское</span>
                </label>
            </div>
            <label>Выберите второе блюдо:</label>
            <div class="select-dish">
                <div class="two-selects" id="secondDishesSelects">
                    {% include 'second-dishes.html' %}
                </div>
                <div class="radio-toggle">
                    <input type="radio" id="standard" name="dish_mode" value="STANDARD" {% if selected_dish_mode == "STANDARD" %} checked {% endif %} hx-get="/second-dishes" hx-target="#secondDishesSelects" hx-swap="innerHTML">
                    <label for="standard" class="radio-button">Стандарт</label>
                    <input type="radio" id="constructor" name="dish_mode" value="CONSTRUCTOR" {% if selected_dish_mode == "CONSTRUCTOR" %} checked {% endif %} hx-get="/second-dishes" hx-target="#secondDishesSelects" hx-swap="innerHTML">
                    <label for="constructor" class="radio-button">Конструктор</label>
                </div>
            </div>
            <div class="input-container">
                <label for="comment">Комментарий к заказу:</label>
                <input id="comment" name="comment" value="{{ comment or '' }}">
            </div>
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
